body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #0056b3;
}

.add-acte {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e9f5ff;
}

.add-acte input[type="text"],
.add-acte textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}

.add-acte button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-acte button:hover {
    background-color: #0056b3;
}

.actes-list ul {
    list-style: none;
    padding: 0;
}

.actes-list li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.actes-list h3 {
    margin-top: 0;
    color: #333;
}

.actes-list p {
    color: #666;
    font-size: 0.9em;
}